streamlit>=1.28.0
streamlit-extras>=0.3.0
streamlit-pdf-viewer>=0.0.16
langchain>=0.1.0
langgraph>=0.0.46
langchain-community>=0.1.0
langchain-core>=0.1.0
langchain-text-splitters>=0.0.1
langchain-google-genai>=0.0.10
langchain-huggingface>=0.0.15
langchain-mongodb>=0.1.0
pymongo>=4.6.0
python-dotenv>=1.0.0
PyMuPDF>=1.23.0
pdfplumber>=0.9.0
pandas>=2.0.0
huggingface-hub>=0.19.0
sentence-transformers>=2.2.0
unstructured>=0.10.0
python-pptx>=0.6.21
libreoffice
libreoffice-java-common
default-jre
libmagic-dev
poppler-utils
tesseract-ocr